/* UTILS */
is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --activ-color: #2196f3;
  --back-color: #2f303a;
  --text-color: #ffffff;
  --opacity-color: rgba(255, 255, 255, 0.6);
  --main-bgcolor: #ffffff;
  --section-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --shadow-color: rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-activ-color: rgba(0, 0, 0, 0.15);
  --opacitybg-color: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --icon-bgcolor: rgba(255, 255, 255, 0.1);
  --portfolio-shadow-color: rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --discription-bgcolor: rgba(47, 48, 58, 0.8);
  --btn-color-mode: rgba(0, 0, 0, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--main-bgcolor);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

.header__logo--part,
.footer__logo--part {
  color: var(--activ-color);
}

.footer__logo--bottom {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0%;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--main-bgcolor);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--btn-color-mode);
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  fill: var(--activ-color);
}

.modal-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form-field:focus-within > .form-icon {
  fill: var(--activ-color);
}

.form-field:focus-within > .form-input,
.form-message:focus-within {
  border-color: var(--activ-color);
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-lable {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-coment {
  top: -16px;
}

.form-agreement {
  cursor: pointer;
}

.form-checkbox {
  background-color: transparent;
}

.form-checkbox-icon:focus {
  outline: auto 5px;
}

.form-chekbox-icon .unchecked {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-chekbox-icon .unchecked {
  opacity: 0;
}

.form-chekbox-icon .checked {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-chekbox-icon .checked {
  opacity: 1;
}

.form-agreement {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .form-agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.mailing-agreement {
  color: var(--secondary-color);
}

.form-agreement-link {
  color: var(--activ-color);
}

.agreement-button {
  display: block;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--activ-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  display: block;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social__item {
  list-style: none;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  color: var(--text-color);
  background-color: var(--activ-color);
}
.social__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid var(--border-color);
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-wrapper {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (max-width: 767px) {
  .contacts-wrapper {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  padding: 32px 0;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--activ-color);
}
.nav__link--current {
  position: relative;
  color: var(--activ-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--activ-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__mail {
  fill: currentColor;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
  .contacts__link--top {
    padding-top: 21px;
    padding-bottom: 0px;
  }
  .contacts__link--bottom {
    padding-top: 0px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__link--top, .contacts__link--bottom {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--activ-color);
}
.contacts__phone {
  fill: currentColor;
}

.footer {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: var(--text-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--opacity {
  color: var(--opacity-color);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--activ-color);
}

.footer__contact {
  min-width: 232px;
}
@media screen and (max-width: 1200px) {
  .footer__contact {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contact {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .invitation:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .invitation:not(:last-child) {
    margin-right: 93px;
  }
}

.invitation__text {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgcolor);
  margin-bottom: 20px;
}

.social__link--footer {
  color: var(--main-bgcolor);
  background-color: var(--icon-bgcolor);
}

.social__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.footer-form-input {
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  background-color: var(--back-color);
}
@media screen and (min-width: 768px) {
  .footer-form-input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-input {
    min-width: 358px;
    margin-bottom: 0px;
  }
}

.footer__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px;
  min-width: 200px;
  text-transform: capitalize;
  color: var(--text-color);
  background-color: var(--activ-color);
  font-weight: 700;
  line-height: 1.87;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu__toggle--close:hover,
.menu__toggle--close:focus {
  fill: var(--activ-color);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-bgcolor);
  z-index: 999;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style: none;
}
@media screen and (min-height: 570px) {
  .mobile-menu {
    margin-bottom: auto;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
}
@media screen and (min-width: 380px) and (min-height: 380px) {
  .mobile-menu__link {
    font-size: 40px;
  }
}
.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: var(--activ-color);
}

.mobile-contacts__list {
  margin-bottom: 64px;
}

.mobile-conacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-conacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-phone {
  font-size: 25px;
  line-height: 1.18;
  color: var(--activ-color);
}
@media screen and (min-width: 380px) and (min-height: 380px) {
  .mobile-phone {
    font-size: 34px;
  }
}

.mobile-mail {
  font-size: 18px;
  line-height: 1.17;
  color: var(--secondary-color);
}
@media screen and (min-width: 380px) and (min-height: 380px) {
  .mobile-mail {
    font-size: 24px;
  }
}

.mobile-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-socials__item {
  padding-right: 10px;
}
.mobile-socials__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-socials__item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials__link {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--activ-color);
  text-decoration: none;
}
@media screen and (min-width: 380px) and (min-height: 380px) {
  .mobile-socials__link {
    font-size: 18px;
  }
}

.hero {
  margin: 0 auto;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  background-color: var(--secondary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground-img_mob@1x.jpg);
  background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground-img_mob@1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground-img_mob@2x.jpg);
    background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground-img_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground-img_tab@1x.jpg);
    background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground-img_tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground-img_tab@2x.jpg);
    background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground-img_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground_desc@1x.jpg);
    background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground_desc@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--opacitybg-color)), to(var(--opacitybg-color))), url(../images/hero/imgbackground-img_desc@2x.jpg);
    background-image: linear-gradient(var(--opacitybg-color), var(--opacitybg-color)), url(../images/hero/imgbackground-img_desc@2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color);
  text-align: center;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  display: block;
  padding: 10px 24px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--text-color);
  background-color: var(--activ-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-hover-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-activ-color);
          box-shadow: 0px 4px 4px var(--shadow-activ-color);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .features .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features__item {
  margin: 0 auto;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}
.features__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-color);
}
.features__subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: left;
  }
}
.features__description {
  line-height: 1.71;
  color: var(--secondary-color);
}

.discription {
  display: none;
  padding-bottom: 94px;
}
.discription__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.discription__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.discription__item {
  position: relative;
}
.discription__direction {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  padding: 27px 5px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: var(--discription-bgcolor);
  color: var(--main-bgcolor);
}
@media screen and (min-width: 1200px) {
  .discription {
    display: block;
  }
}

.description__img {
  display: block;
}

.profile {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color);
}
@media screen and (min-width: 1200px) {
  .profile {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.profile__list {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .profile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .profile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    text-align: center;
  }
}
.profile__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .profile__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.profile__item {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
  background-color: var(--main-bgcolor);
  -webkit-box-shadow: 0px 1px 3px var(--shadow-color);
          box-shadow: 0px 1px 3px var(--shadow-color);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .profile__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .profile__item {
    width: 354px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .profile__item {
    width: 270px;
  }
}
@media screen and (max-width: 768px) {
  .profile__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.profile__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.profile__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
  margin-bottom: 10px;
}
.profile__speciality {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.clients__item {
  list-style: none;
}
.clients__item:hover .clients__link {
  color: var(--activ-color);
  border: 1px solid var(--activ-color);
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 210px;
  height: 92px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:focus {
  color: var(--activ-color);
  border: 1px solid var(--activ-color);
}
.clients__logo {
  fill: currentColor;
}

.portfolio {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--section-color);
  padding: 6px 25px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-button:hover,
.portfolio-button:focus {
  border-radius: 4px;
  color: var(--text-color);
  background-color: var(--activ-color);
}

@media screen and (min-width: 768px) {
  .portfolio-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

.portfolio-item {
  width: 100%;
}
.portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: 370px;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px var(--portfolio-shadow-color);
          box-shadow: 0px 1px 1px var(--portfolio-shadow-color);
}

.portfolio-item:hover .portfolio-actions,
.portfolio-link:focus .portfolio-actions {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color);
  background-color: var(--activ-color);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
  display: block;
}

.portfolio-border {
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio-border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.portfolio-subtitle {
  font-family: "Roboto";
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
}/*# sourceMappingURL=main.css.map */