.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $mobile) {
    min-width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 528px;
    min-height: 581px;
  }

  background-color: var(--main-bgcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;

  border: 1px solid var(--btn-color-mode);
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  fill: var(--activ-color);
}

.modal-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form-field:focus-within > .form-icon {
  fill: var(--activ-color);
}

.form-field:focus-within > .form-input,
.form-message:focus-within {
  border-color: var(--activ-color);
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-lable {
  position: absolute;
  top: -16px;
  left: 0;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-transform: capitalize;

  color: var(--secondary-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-coment {
  top: -16px;
}

.form-agreement {
  cursor: pointer;
}

.form-checkbox {
  background-color: transparent;
}

.form-checkbox-icon:focus {
  outline: auto 5px;
}

.form-chekbox-icon .unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-chekbox-icon .unchecked {
  opacity: 0;
}

.form-chekbox-icon .checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-chekbox-icon .checked {
  opacity: 1;
}

.form-agreement {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  user-select: none;

  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.mailing-agreement {
  color: var(--secondary-color);
}

.form-agreement-link {
  color: var(--activ-color);
}

.agreement-button {
  display: block;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;

  color: var(--text-color);
  background-color: var(--activ-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
